
@{
    ViewBag.Title = "AMC Report";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@using SCManager.UserInterface.App_Start
@section styles {
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/DataTables/css/datatable")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/DataTables/css/datatableButtons")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/bootstrapdatepicker")

}

<div class="col-md-12">
    <div class="SCHeader col-md-6">

    </div>
    <div class="col-md-6">

    </div>


</div>
<div id="exTab3" class="container SCtabContainer">
    <ul class="nav nav-pills"></ul>
    <div class="tab-content clearfix">
        <div class="tab-pane fade in active" id="stockList">
            <div class="col-md-12">&nbsp;</div>
            <div class="col-md-8 ">
                <div class="col-md-12 filterHead ">Filter</div>
                <div class="col-md-12 ">
                    <div id="external_filter" class="form-inline">
                        <label><b>From Date</b></label>
                        <input class="form-control datepicker" onchange="RefreshAmcReportTable()" value=@ViewBag.fromDate style="width:190px" name="fromdate" id="fromdate" type="text">
                        <label><b>To Date</b> </label>
                        <input class="form-control datepicker" onchange="RefreshAmcReportTable()" value=@ViewBag.toDate style="width:190px" name="todate" id="todate" type="text">
                        <input type="hidden" id="CurrentDate" value=@ViewBag.CurrentDate> 
                    </div>
                </div>
            </div>

            <div class="col-md-4 ">
                <div class="" id="btnPatchReport" style="min-height:25px">
                    @{
                        var data = new { ActionType = "List" };
                        @Html.Action("ChangeButtonStyle", "Report", data);
                    }
                </div>
            </div>

            <div class="col-md-12">&nbsp;</div>

            <div class="col-md-12">
                <div class="col-md-12 ReportHead"> AMC Expiry Alert Report</div>
                <div class="container-fluid">
                    <div class="row">

                        <table id="tblAMCReportList" class="table compact" cellspacing="0" width="100%">
                            <thead>
                                <tr class="text-center"> 
                                    <th>Customer Name</th>
                                    <th>Location</th>
                                    <th>Contact No.</th>
                                    <th>Model</th>
                                    <th>Serial No.</th>
                                    <th>AMC No.</th>
                                    <th>AMC Start Date</th>
                                    <th>AMC End Date</th>
                                    <th>Remarks</th>
                                    <th>Due Days</th> 
                                    <th>Status </th> 
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>


            </div>


        </div>

    </div>
</div>

@section Scripts {
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/datatable")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/jsZip")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/datatableButtons")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/bootstrapdatepicker")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/AmcReports")
}




