@model SCManager.UserInterface.Models.DynamicUIViewModel
@{
    List<SCManager.UserInterface.Models.ReorderAlertViewModel> ReorderList = Model.ReorderAlertViewModelList;

}


<ul class="list-group DashList">
    <li class="list-group-item justify-content-between list-group-item-heading alert-danger">
        <b>Item Name</b>
        <span class="badge badge-default alert-danger ">Current Stock</span>
    </li>
    @*</ul>
        <ul class="list-group DashList">*@
    @foreach (var mp in ReorderList)
    {
        if (mp.ApproachPercentage < 100)
        {
            <li class="list-group-item justify-content-between list-group-item-text rlist">
               <span style="color:red">🡻</span> <span title="@mp.Item">
                @if (@mp.Item.Length > 30)
                {
                    @mp.Item.Substring(0, 30) <span>..</span>
                }
                else
                {
                    @mp.Item;
                }

                </span> 
                <span class="badge badge-default alert-danger" title="Reorder Quantity @mp.ReorderQty">
                    Stock :  @mp.qty
                </span>
            </li>


        }
        else
        {
            <li class="list-group-item justify-content-between list-group-item-text rlist">
                <span style="color:orange;">🡻</span><span title="@mp.Item">
                @if (@mp.Item.Length > 30)
                {
                    @mp.Item.Substring(0, 30)                    <span>..</span>
                }
                else
                {
                    @mp.Item;
                }
                </span>
                <span class="badge badge-default alert-warning" title="Reorder Quantity @mp.ReorderQty">
                    Stock :  @mp.qty
                </span>
            </li>
        }


    }
</ul>
<br/>
<span style="color:red;font-size:10px;" >🡻</span> &nbsp;<span class="graphledger">Reorder Required</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:orange;font-size:10px;">🡻</span>&nbsp;<span class="graphledger">Approaching Reorder</span>