@model SCManager.UserInterface.Models.ICRBillEntryViewModel
@using SCManager.UserInterface.App_Start
@{
    ViewBag.Title = "ICR Bill Entry";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section styles {
    @Styles.RenderFormat(SiteKeys.StyleVersion,"~/Content/DataTables/css/datatable")
    @Styles.RenderFormat(SiteKeys.StyleVersion,"~/Content/bootstrapdatepicker")
    @Styles.RenderFormat(SiteKeys.StyleVersion,"~/Content/UserCSS/DailyServiceReport")
}
<style>
    .fa-exclamation-triangle {
        color: orange;
        cursor: pointer;
        margin-left: -11px;
    }  
    .popover-content {
    width: 218px;
    color: #be1010;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     }
</style>
<div class="col-md-12">
    <div class="SCHeader col-md-6">
        ICR Bill Entry

    </div>
    <div class="col-md-6">
        <div class="" id="btnPatchICRBillEntrySettab" style="min-height:25px">

            @{
                var data = new { ActionType = "List" };
                @Html.Action("ChangeButtonStyle", "ICRBillEntry", data);
            }
        </div>
    </div>
</div>

<div id="exTab3" class="container SCtabContainer">

    <ul class="nav nav-pills">
        <li class="active" onclick="List()">
            <a id="ListTab" href="#1b" data-toggle="tab"> <span class="fa fa-list">&nbsp;&nbsp;</span>Customer Bills</a>
        </li>
        <li onclick="Add()">
            <a id="AddTab" href="#2b" data-toggle="tab" style="width:170px"><span class="fa fa-file-o">&nbsp;&nbsp;</span>Bill Entry</a>
        </li>

    </ul>

    <div class="tab-content clearfix">

        <div class="tab-pane fade in active" id="1b">
            <div class="col-md-12">&nbsp;</div>
            <div class="col-md-12">
                <table id="tblCustomerBills" class="table table-striped table-bordered table-hover" cellspacing="0">
                    <thead>
                        <tr class="text-center">
                           
                            <th style="display:none;">ID</th>
                            <th>Technician</th>
                            <th style="display:none;">Job No</th>
                            <th>Date</th>
                            <th>ICR No</th>
                            <th>AMC No.</th>
                            <th>AMC From</th>
                            <th>AMC To</th>
                            <th>Customer</th>
                            <th>Contact No.</th>
                            <th>Model</th>
                            <th>Serial</th>
                            <th>Amount (₹)</th>
                            <th>Remarks</th>
                            <th>...</th>

                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="2b">
            <div class="col-md-12">&nbsp;</div>
            <div class="col-md-12">
                @using (Ajax.BeginForm("InsertUpdateICRBillEntry", "ICRBillEntry", new AjaxOptions { HttpMethod = "POST", Confirm = "", OnSuccess = "SaveSuccess", OnFailure = "NetworkFailure", AllowCache = false, LoadingElementId = "", OnBegin = "", OnComplete = "" }, new { @class = "form-horizontal", role = "form", @id = "ICR"  }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.ID, htmlAttributes: new { @class = "", Value = "0", @id = "HeaderID", })
                    @Html.HiddenFor(model => model.STAmount, htmlAttributes: new { @class = "", Value = "", @id = "STAmount", })
                    @Html.HiddenFor(model => model.DetailJSON, htmlAttributes: new { @id = "DetailJSON", Value = "" })
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="inputForm col-md-12">
                        &nbsp;
                    </div>
                    <div class="inputForm col-md-5">
                        <div class="form-group">
                            <div class="col-md-4 ">
                                @Html.LabelFor(model => model.EmpID, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.EmpID, Model.TechniciansList, "-- Select Technician --", new { @class = "form-control HeaderBox BlockEnter", value = -1, style = "padding:4px 12px;", @onchange = "TechnicianSelectOnChange(this)" })

                                @Html.ValidationMessageFor(model => model.EmpID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1 mandatory"></div>
                        </div>

                        <div class="form-group" hidden="hidden">
                            <div class="col-md-4 ">
                                @Html.LabelFor(model => model.JobNo, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="JobNo" name="JobNo" class="form-control" list="jobnumberList" onchange="JobSelect(this)" />
                                <datalist id="jobnumberList" onfocus='this.size=10;' onblur='this.size=1;' onchange='this.size=1; this.blur();'></datalist>
                                @*@Html.DropDownListFor(model => model.JobNo, Model.JobNoList, "-- Select Job No --", new { @class = "form-control BlockEnter", value = -1, style = "padding:4px 12px;" , @onchange = "JobSelect(this)" })
                                @Html.ValidationMessageFor(model => model.JobNo, "", new { @class = "text-danger" })*@
                            </div>
                            
                            <div class="col-md-1 ">
                                <span class="mandatory"></span>
                                <span class="">&nbsp;</span>
                                <span style="top:5px;">
                                    <a href="#" onclick="AddTechnicanJob()" title="Add Job">
                                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                                    </a>
                                </span>

                            </div>  
                        </div>

                        <div class="form-group">
                            <div class="col-md-4 ">
                                @Html.LabelFor(model => model.ICRNo, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.ICRNo, new { htmlAttributes = new { @class = "form-control HeaderBox", @onblur= "BillBookNumberValidation();" } })
                                @Html.ValidationMessageFor(model => model.ICRNo, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1 mandatory" id="BillNoMandatory">
                                <i class="fa fa-exclamation-triangle" id="ahlinkMandatory" data-toggle="popover" data-trigger="click" data-placement="right" data-content="This bill no doesn't belong to selected technician "></i>
                            </div>
                        </div>

                     

                        <div class="form-group">
                            <!---------------- 2 -------------------->

                            <div class="col-md-4 ">
                                @Html.LabelFor(model => model.ICRDate, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-6 ">
                                @Html.EditorFor(model => model.ICRDate, new { htmlAttributes = new { @class = "form-control HeaderBox datepicker", @id = "ICRDate" } })

                                @Html.ValidationMessageFor(model => model.ICRDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1 mandatory"></div>

                        </div>

                        <div class="form-group">
                            <div class="col-md-4 ">
                                @Html.LabelFor(model => model.PaymentMode, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-6">
                                @{
                                    List<SelectListItem> listOtherIncomePaymentMode = new List<SelectListItem>();
                                    listOtherIncomePaymentMode.Add(new SelectListItem
                                    {
                                        Text = "Cash",
                                        Value = "Cash"
                                    });
                                    listOtherIncomePaymentMode.Add(new SelectListItem
                                    {
                                        Text = "Cheque",
                                        Value = "Cheque"
                                    });
                                    listOtherIncomePaymentMode.Add(new SelectListItem
                                    {
                                        Text = "Online",
                                        Value = "Online"
                                    });
                                }
                                @Html.DropDownListFor(model => model.PaymentMode, listOtherIncomePaymentMode, "-- Select Payment Mode --", new { @class = "form-control HeaderBox BlockEnter", value = -1, style = "padding:4px 12px;" ,@onchange="ChequeTypeDisplay();"})
                                @Html.ValidationMessageFor(model => model.PaymentMode, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1 mandatory"></div>
                        </div>


                        <div class="form-group" id="ChequeTypeDiv" hidden="hidden">
                            <div class="col-md-4 ">
                                @Html.LabelFor(model => model.ChequeType, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-6">
                                @{
                                    List<SelectListItem> listChequeType = new List<SelectListItem>();
                                    listChequeType.Add(new SelectListItem
                                    {
                                        Text = "To IFB",
                                        Value = "IFB"
                                    });
                                    listChequeType.Add(new SelectListItem
                                    {
                                        Text = "To Service Center",
                                        Value = "SC"
                                    });

                                }
                                @Html.DropDownListFor(model => model.ChequeType, listChequeType, new { @class = "form-control HeaderBox BlockEnter", value = "IFB", style = "padding:4px 12px;" })
                                @Html.ValidationMessageFor(model => model.ChequeType, "", new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-md-4 ">
                                @Html.LabelFor(model => model.PaymentRefNo, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.PaymentRefNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PaymentRefNo, "", new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-md-4 ">
                                @Html.LabelFor(model => model.ModelNo, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.ModelNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ModelNo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        <div class="form-group">
                            <div class="col-md-4 ">
                                @Html.LabelFor(model => model.SerialNo, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.SerialNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SerialNo, "", new { @class = "text-danger" })
                                </div>
                            </div>



                    </div>

                    <div class="inputForm col-md-5">
                        <div class="form-group">
                            <div class="col-md-4 ">
                                @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                                </div>
                            <div class="col-md-1 mandatory"></div>
                            </div>

                        <div class="form-group">
                            <div class="col-md-4 ">
                                @Html.LabelFor(model => model.CustomerContactNo, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.CustomerContactNo, new { htmlAttributes = new { @class = "form-control", onkeypress = "return isNumber(event)" } })
                                    @Html.ValidationMessageFor(model => model.CustomerContactNo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        <div class="form-group">
                            <div class="col-md-4 ">
                                @Html.LabelFor(model => model.CustomerLocation, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.CustomerLocation, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CustomerLocation, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        <div class="form-group">
                            <div class="col-md-4 ">
                                @Html.LabelFor(model => model.AMCNO, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.AMCNO, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AMCNO, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-4 ">
                                @Html.LabelFor(model => model.AMCValidFromDate, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.AMCValidFromDate, new { htmlAttributes = new { @class = "form-control HeaderBox datepicker",@onchange= "AMCDateValidation(1);", @id = "AMCValidFromDate" } })
                                @Html.ValidationMessageFor(model => model.AMCValidFromDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4 ">
                                @Html.LabelFor(model => model.AMCValidToDate, htmlAttributes: new { @class = "control-label HeaderBox" })
                            </div>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.AMCValidToDate, new { htmlAttributes = new { @class = "form-control datepicker", @onchange = "AMCDateValidation(1);", @id = "AMCValidtoDate" } })
                                @Html.ValidationMessageFor(model => model.AMCValidToDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4 ">
                                @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control", rows = 2, @id = "Remarks" } })
                                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                    <div class="inputForm col-md-2">&nbsp;</div>
                    <div class="inputForm col-md-12 Subhead">&nbsp;</div>
                        @*<div class="inputForm col-md-11 Subhead">ICR Details</div>*@
                                    <div class="col-md-1" style="text-align:right;cursor:pointer;vertical-align:bottom">
                                        @*<span><a onclick="AddMoreRows()">More Rows</a></span>*@
                                    </div>

                                    <div class="inputForm col-md-12">
                                        <table id="tblICRDetails" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                            <thead>
                                                <tr class="text-center">
                                                   
                                                    <th style="display:none">ID</th>                                                   
                                                    <th>Sl No</th>
                                                    <th>Item</th>
                                                    <th>Description</th>
                                                    <th>Quantity</th>
                                                    <th>UOM</th>
                                                    <th>Rate (₹)</th>                                                  
                                                    <th>Total Amount (₹)</th>
                                                    <th>...</th>
                                                </tr>
                                            </thead>
                                        </table>

                                    </div>

                                    <div class="inputForm col-md-7">

                                    </div>
                                    <div class="inputForm col-md-5">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                @Html.LabelFor(model => model.Subtotal, htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.Subtotal, new { htmlAttributes = new { @class = "form-control Amount", @id = "subtotal", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" id="discountpercentage" class="form-control vattxt" onkeyup="CalculateDiscountPercentage(1)" />
                                            </div>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control Amount", @onkeyup="ClearDiscountPercentage();", @onclick = "SelectAllValue(this);" } })
                                            @Html.Hidden("DiscountAmount", 0)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control Amount", @readonly = "readonly", @id = "total" } })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.TotalServiceTaxAmt, htmlAttributes: new { @class = "control-label" })
                                            </div>     
                                            <div class="col-md-2">
                                                <input type="text" id="ServiceTaxpercentage" class="form-control vattxt" onkeyup="CalculateServiceTaxPercentage(1)" />
                                            </div>                                       
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.TotalServiceTaxAmt, new { htmlAttributes = new { @class = "form-control Amount", @onkeyup = "ClearServiceTaxPercentage();", @onclick = "SelectAllValue(this);" } })
                                                @Html.Hidden("TotalServiceTaxAmount", 0)
                                            </div>
                                        </div>
                                       
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                @Html.LabelFor(model => model.GrandTotal, htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.GrandTotal, new { htmlAttributes = new { @class = "form-control Amount GrandTotal", @readonly = "readonly",@id= "grandtotal" } })
                                                @Html.ValidationMessageFor(model => model.GrandTotal, "", new { @class = "text-danger" })
                                            </div>
                                        </div>








                                    </div>
                    <div class="form-horizontal">                   
                       
                        
                        <div class="form-group" hidden="hidden">
                            <div class="col-md-offset-2 col-md-10">
                                <input id="btnSave" type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
                </div>
            <div class="inputForm col-md-2">&nbsp;</div>
            <div class="inputForm col-md-2">&nbsp;</div>
            </div>
        <div class="preloader" id="prelaoder">
            <img src="~/Content/images/loading.gif" class="preloaderImg" />
        </div>
        </div>
    </div>
<datalist id="Materials" onfocus='this.size=10;' onblur='this.size=1;'
          onchange='this.size=1; this.blur();'></datalist>
@{
    var sourcedata = new { source = "TechnicianJob1" };
    @Html.Action("TechnicianJobForm", "DailyServiceReport", sourcedata);
}




@section Scripts {
  @Scripts.RenderFormat(SiteKeys.ScriptVersion,"~/bundles/datatable")
  @Scripts.RenderFormat(SiteKeys.ScriptVersion,"~/bundles/jqueryunobtrusiveajaxvalidate")
  @Scripts.RenderFormat(SiteKeys.ScriptVersion,"~/bundles/bootstrapdatepicker")
  @Scripts.RenderFormat(SiteKeys.ScriptVersion,"~/bundles/ICRBillEntry")
  @Scripts.RenderFormat(SiteKeys.ScriptVersion,"~/bundles/editableGrid")
  @Scripts.RenderFormat(SiteKeys.ScriptVersion,"~/bundles/JobAction")

}
