<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    @using SCManager.UserInterface.App_Start
    @Styles.RenderFormat(SiteKeys.StyleVersion,"~/Content/css")
    @RenderSection("styles", required: false)
    <link rel="icon" type="image/png" href="~/Content/images/SCManager.png"/>
     <style>
     
     </style>
 
   
</head>
<body>
   
        <nav class="navbar navbar-default">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img height="30" alt="SCManager" src=@Url.Content("~/Content/images/SCManager.png")></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <br />

                @Html.Action("_MenuNavBar", "DynamicUI")

                <ul class="nav navbar-nav navbar-right">
                     <li ><a href="#" class="fa fa-user" style="color: #8fdd3c;">&nbsp;@User.Identity.Name</a></li>
                    <li class="dropdown" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret" style="color: #8fdd3c;"></span></a>
                        <ul class="dropdown-menu" >
                            <li><a href="#">User Profile</a></li>

                            <li role="separator" class="divider"></li>
                            <li><a href="/Account/Logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                            @*<li><a href="#" onclick="Logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>*@
                        </ul>
                    </li>

                </ul>
            </div>



        </nav>

    
    <div class="container-fluid">
        @RenderBody()
    </div>

     
        <footer class="info small myfooter"  >
            <a href="http://www.thrithvam.com" style="color: inherit;text-decoration: none;" ><p> &nbsp; &nbsp; &copy;Thrithvam Technologies @DateTime.Now.Year</p></a>
        </footer>

   
    <!-- Modal -->
    <div class="modal fade" id="RedirectToLoginModel" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              
                <div style="padding-top:15px;">
                 
                       @*<div class="sa-icon sa-custom" style="display: block; background-image: url(&quot;Content/images/hourglass.jpg&quot;);width:80px; height:80px"></div>*@
                       <div class="thumbnail" style="border:none; -webkit-box-shadow:none;box-shadow:none;">
                        
                               <img src="Content/images/hourglass.png" alt="...">
                             <div class="caption" style="text-align:center;padding:0px;">
                               <h1 style="color:#b50808;">Session Expired!</h1>
                               <p style="font-size:14px;">Please Sign in again</p>
                           </div>
                       </div>
                   
                </div>
                <div style="border-top: none;text-align: center;padding-bottom: 15px;">
                 <button type="button" onclick="RedirectToLogin()" class="btn btn-success">Sign In</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    @Scripts.RenderFormat(SiteKeys.ScriptVersion,"~/bundles/jquery")
  @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/bootstrap")
  @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/bootstrapdatepicker")
@Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/userpluginjs")
  
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        function RedirectToLogin()
        {
            var appAddress = window.location.protocol + "//" + window.location.host + "/";
            window.location = appAddress + "/Account/Logout/";
        }
    </script>

</body>
 
</html>
